<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>LISTA DE COMPRAS</h1>
<section>
  
  
    <li>1 kilo de azucar</li>
    <li>1/2 libra de arroz</li>
    <li>24 sobre de cafe 100gr</li>
    <li>medio quintal de papas</li>
    <li>4 leches descremadas</li>
    <li>12 fuze tea</li>
    <li>14 litros de aceite</li>

</section>
<section>
  <h1>Productos encontrados</h1>
   <ol>
    <li>1 kilo de azucar</li>
    <li>24 sobres de cafe 100gr</li>
    <li>4 leches descremadas</li>
    <li>12 fuze tea</li>
    <li>1/2 libra de arroz</li>
  </ol>
</section>
<section>
  <ul>
  <h1>Productos no encontrados</h1>
  <li>medio quintal de papas</li>
  <li>14 litros de aceite</li>
  </ul>
</section>
</body>
